@using BOL;
@{
    Account ac = ViewData["Account"] as Account;
}




<html>
    <meta>
       <div align="left"><h3><u>Welcome To Money Bag</u></h3></div><br><br>
    <head>

    </head>
    <body>
          <div align="left"><h4><u>The Available Amount is : </u></h4>@ac.Amount</div>
    </body>
</html>