
<html>
    <meta>
    <head>

    </head>
    <div align="left"><h3><u>Welcome to Donation Page</u></h3><br><h4><u>Donate For Future of World</u></h4></div><br><br>

    <div><h5><u><i>@TempData["message"]</i></u></h5></div><br><br>

    <div align="left"><label for="btn"><h5><u>Anonymus Payment </u>&nbsp; : &nbsp;&nbsp;</h5></label><a href="/home/Anonymus"><button type="submit" name="btn" id="btn">Move to Payment</button></a></div><br>

    <div align="left"><label for="btn1"><h5><u>Non Anonymus Payment </u>&nbsp; : &nbsp;&nbsp;</h5></label><a href="/home/NonAnonymus"><button type="submit" name="btn1" id="btn1">Move to Payment</button></a></div>

    <body>
        
    </body>
</html>