<html>
    <meta>
    <head>

    </head>
        
    <body style="background-color: bisque;color: brown;">
           <div align="left"><h2><u>Welcome To Registration Details Page</u></h2></div><br><br>
            <div align="right"><a href="/home/index"><button type="submit" name="btn" id="btn">Go Back to Home Page</button></a></div>
           <div align="left"><br> <b><u><i>For Registration Check Near By center As per Alloted center as follows</i></u></b><pre><ul>
                <ol>
                    
                     <li>Pune.</li>  

                     <li>Bilaspur. </li> 

                     <li>Vishakhapatnam</li>

                     <li>Delhi.</li>
                
                 </ol>
                 </ul></pre></div>
                 

                        </div>
                    </div>
                 </div>
                 <div class="shadow-lg p-3 mb-5 bg-white rounded">Thanks for visiting</div>@*trial*@
    </body>
</html>